
:root{
    --dark-brown: #995E20;
    --medium-brown: #F4AE4A;
    --light-brown: #F5D29A;
    --orange-brown: #AD5015;


}


html{
    background-color: var(--medium-brown);
}

/* 
#content{
} 
*/
.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 2;
  }

  .overlay.open {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .overlay-inner {
    background: white;
    width: 700px;
    padding: 20px;
  }

  


/*=========== SpellBooks page =================*/

.spellbooksView{
    margin: auto;
    max-width: 600px;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
  
}


.spellbooksView h1{
    padding: 1rem;
}

.spellbookList{
    margin: auto;
    max-width: 300px;
    border: 2px solid black ;
    background: var(--medium-brown);
}



.spellbooks{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    margin: .5rem;
    border: 1px solid black;
    background: white;
}

.spellbooks p{
    padding-left: 1rem;
}

.spellbooks p:hover{
    background-color: var(--light-brown);
    margin: 0;
    padding: 1rem;

}


.spellbooksView > p{
    text-align: center;
}

.inputDiv{
    display: block;
    margin: auto;
    max-width: 300px;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}



/*=========== Dashboard page =================*/






.spellListDash > div {
    overflow: scroll;
    max-height: 300px;
}

.spellsDash {
    cursor: pointer;
}




/*=========== SpellList page =================*/

.spellView{
    margin: auto;
    max-width: 600px;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.spellView >*{
    margin: 1rem;
}

.spellView h1 {
    grid-column: 1 / span 4;
}

.spellView h2 {
    grid-column: 1 / span 1;
}

#homeBnt{ 
    grid-column: 4/ span 1;

}

.spellList{
    grid-column: 1/span 4;
    border: 2px solid black;    
}

.spellList div:nth-child(even){
    background-color: var(--medium-brown) #F4AE4A;

}

.spells{
    display: grid;
    grid-template-columns: 75% 25%;
    
}

/* .spells button{
    
} */

#prvBnt{
    grid-column: 2/span 1;
}

#nextBnt{
    grid-column: 3/span 1;

}


.selected{
    background-color: var(--light-brown)
}




/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  Medium view @@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (min-width:670px) {


}




/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Large view @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (min-width:1055px) {




}